
h1 {
    color: #62259b;
    text-align: center;
    text-decoration: double;
    font-family: "Domine", serif;

}

p{
    font-size: 18px;
    color: rgb(46, 19, 144);
    font-family: "Domine", serif;
}